In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [11]:
data_file = 'drive/My Drive/Expenses/expenseList.csv'
data = pd.read_csv(data_file)
data

    Unnamed: 0  Amount Payer Currency                        Date
0          0.0   30.39     V      EUR  2019-11-30 22:16:54.436077
1          1.0   10.75     V      EUR  2019-11-30 22:16:54.436077
2          2.0    8.00     A      EUR  2019-11-30 22:16:54.436077
3          3.0    8.72     V      EUR  2019-11-30 22:16:54.436077
4          4.0   11.57     A      EUR  2019-11-30 22:16:54.436077
5          5.0    7.11     A      EUR  2019-11-30 22:16:54.436077
6          6.0   27.47     A      EUR  2019-11-30 22:16:54.436077
7          7.0    8.95     V      EUR  2019-11-30 22:16:54.436077
8          8.0   22.05     V      EUR  2019-11-30 22:16:54.436077
9          9.0    7.52     V      EUR  2019-11-30 22:16:54.436077
10        10.0   16.47     A      EUR  2019-11-30 22:16:54.436077
11        11.0   19.13     A      EUR  2019-11-30 22:16:54.436077
12        12.0    6.77     A      EUR  2019-11-30 22:16:54.436077
13        13.0   15.85     V      EUR  2019-11-30 22:16:54.436077
14        14.0    4.00     V      EUR  2019-11-30 22:16:54.436077
15        15.0    8.00     A      EUR  2019-11-30 22:16:54.436077
16        16.0   24.53     A      EUR  2019-11-30 22:16:54.436077
17        17.0    8.16     V      EUR  2019-11-30 22:16:54.436077

In [9]:
total = data[['Amount']].sum(axis=0)['Amount']
print('Total:\t' + str(total))

grouped_data = data.groupby(['Payer']).sum()
acko_expenses = grouped_data.Amount.A
viki_expenses = grouped_data.Amount.V

print('Acko has spent ' + str(acko_expenses))
print('Viki has spent ' + str(viki_expenses))
print('\n')

if grouped_data.Amount.A < grouped_data.Amount.V:
    print('Acko needs to give ' + str(total / 2 - acko_expenses) + " to Viki")
elif grouped_data.Amount.A > grouped_data.Amount.V:
    print('Viki needs to give ' + str(total / 2 - viki_expenses) + " to Acko")
else:
    print('No one needs to give money')

Total:	246.44
Acko has spent 130.05
Viki has spent 116.38999999999999


Viki needs to give 6.8300000000000125 to Acko